n8n/workflows/health_summary.json
{
  "name": "Health Summary Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "health-summary",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "health-summary"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT component, last_run, status, message, metadata FROM health_checks ORDER BY component;",
        "options": {}
      },
      "id": "query-health",
      "name": "Query Health Checks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [470, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Fabian OS PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Cache-Control",
                "value": "no-cache"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Query Health Checks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Health Checks": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "health",
      "id": "health-tag"
    },
    {
      "name": "phase-0",
      "id": "phase-0-tag"
    }
  ],
  "pinData": {},
  "meta": {
    "instanceId": "fabian-os",
    "templateCredsSetupCompleted": false
  }
}
