drive-cleanup/n8n-workflows/01_stale_workflow_detection.json
{
  "name": "TAS — Stale Workflow Detection & Deactivation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.N8N_BASE_URL }}/api/v1/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetch-workflows",
      "name": "Fetch All Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-api-key",
          "name": "n8n API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const workflows = $input.first().json.data || [];\nconst now = new Date();\nconst STALE_DAYS = 90;\n\nconst results = workflows.map(wf => {\n  const updatedAt = new Date(wf.updatedAt);\n  const daysSinceUpdate = Math.floor((now - updatedAt) / (1000 * 60 * 60 * 24));\n  const isStale = daysSinceUpdate > STALE_DAYS;\n  \n  return {\n    id: wf.id,\n    name: wf.name,\n    active: wf.active,\n    updatedAt: wf.updatedAt,\n    daysSinceUpdate,\n    isStale,\n    status: isStale ? (wf.active ? 'STALE_ACTIVE' : 'STALE_INACTIVE') : 'OK'\n  };\n});\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "classify-staleness",
      "name": "Classify Staleness",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "stale-check",
              "leftValue": "={{ $json.isStale }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-stale",
      "name": "Filter Stale Only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "active-check",
              "leftValue": "={{ $json.active }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-active-stale",
      "name": "Stale & Active?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [880, -120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_BASE_URL }}/api/v1/workflows/{{ $json.id }}/deactivate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "deactivate-workflow",
      "name": "Deactivate Stale Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, -120],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-api-key",
          "name": "n8n API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst summary = {\n  totalStale: items.length,\n  staleActive: items.filter(i => i.json.status === 'STALE_ACTIVE').length,\n  staleInactive: items.filter(i => i.json.status === 'STALE_INACTIVE').length,\n  workflows: items.map(i => ({\n    name: i.json.name,\n    id: i.json.id,\n    daysSinceUpdate: i.json.daysSinceUpdate,\n    status: i.json.status\n  }))\n};\n\nreturn [{ json: summary }];"
      },
      "id": "build-report",
      "name": "Build Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 120]
    },
    {
      "parameters": {
        "sendTo": "={{ $env.GOOGLE_ACCOUNT || 'fabian@fdnxt.com' }}",
        "subject": "TAS N8N: {{ $json.totalStale }} stale workflow(s) detected",
        "message": "=<h2>Stale Workflow Report</h2>\n<p><strong>Total stale (>90 days):</strong> {{ $json.totalStale }}</p>\n<p><strong>Were active (now deactivated):</strong> {{ $json.staleActive }}</p>\n<p><strong>Already inactive:</strong> {{ $json.staleInactive }}</p>\n<h3>Details:</h3>\n<table border=\"1\" cellpadding=\"5\">\n<tr><th>Name</th><th>ID</th><th>Days Since Update</th><th>Status</th></tr>\n{{ $json.workflows.map(w => '<tr><td>' + w.name + '</td><td>' + w.id + '</td><td>' + w.daysSinceUpdate + '</td><td>' + w.status + '</td></tr>').join('') }}\n</table>\n<p><em>Review in N8N and delete if no longer needed.</em></p>",
        "options": {}
      },
      "id": "send-email",
      "name": "Email Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1100, 120]
    }
  ],
  "connections": {
    "Daily Check": {
      "main": [
        [{ "node": "Fetch All Workflows", "type": "main", "index": 0 }]
      ]
    },
    "Fetch All Workflows": {
      "main": [
        [{ "node": "Classify Staleness", "type": "main", "index": 0 }]
      ]
    },
    "Classify Staleness": {
      "main": [
        [{ "node": "Filter Stale Only", "type": "main", "index": 0 }]
      ]
    },
    "Filter Stale Only": {
      "main": [
        [
          { "node": "Stale & Active?", "type": "main", "index": 0 },
          { "node": "Build Report", "type": "main", "index": 0 }
        ]
      ]
    },
    "Stale & Active?": {
      "main": [
        [{ "node": "Deactivate Stale Workflow", "type": "main", "index": 0 }]
      ]
    },
    "Build Report": {
      "main": [
        [{ "node": "Email Report", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "TAS" },
    { "name": "maintenance" },
    { "name": "drive-cleanup" }
  ]
}
