drive-cleanup/n8n-workflows/02_execution_cleanup.json
{
  "name": "TAS — Old Execution Cleanup",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * 0"
            }
          ]
        }
      },
      "id": "weekly-trigger",
      "name": "Weekly Sunday 3AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// Configuration\nconst RETENTION_DAYS = 30;\nconst BATCH_SIZE = 100;\nconst BASE_URL = $env.N8N_BASE_URL;\n\nconst cutoffDate = new Date();\ncutoffDate.setDate(cutoffDate.getDate() - RETENTION_DAYS);\nconst cutoffISO = cutoffDate.toISOString();\n\nlet totalDeleted = 0;\nlet totalFailed = 0;\nlet totalKept = 0;\nlet hasMore = true;\nlet cursor = null;\n\nwhile (hasMore) {\n  // Fetch a batch of executions\n  let url = `${BASE_URL}/api/v1/executions?limit=${BATCH_SIZE}&status=success`;\n  if (cursor) url += `&cursor=${cursor}`;\n  \n  const listResp = await this.helpers.httpRequest({\n    method: 'GET',\n    url,\n    headers: { 'X-N8N-API-KEY': $env.N8N_API_KEY }\n  });\n  \n  const executions = listResp.data || [];\n  cursor = listResp.nextCursor;\n  hasMore = !!cursor && executions.length === BATCH_SIZE;\n  \n  // Filter old executions\n  const oldExecutions = executions.filter(ex => {\n    const finishedAt = new Date(ex.stoppedAt || ex.startedAt);\n    return finishedAt < cutoffDate;\n  });\n  \n  totalKept += executions.length - oldExecutions.length;\n  \n  // Delete old executions\n  for (const ex of oldExecutions) {\n    try {\n      await this.helpers.httpRequest({\n        method: 'DELETE',\n        url: `${BASE_URL}/api/v1/executions/${ex.id}`,\n        headers: { 'X-N8N-API-KEY': $env.N8N_API_KEY }\n      });\n      totalDeleted++;\n    } catch (err) {\n      totalFailed++;\n    }\n  }\n  \n  // Safety: stop after processing 2000 executions per run\n  if (totalDeleted + totalKept + totalFailed > 2000) break;\n}\n\n// Now handle failed executions older than retention\nhasMore = true;\ncursor = null;\n\nwhile (hasMore) {\n  let url = `${BASE_URL}/api/v1/executions?limit=${BATCH_SIZE}&status=error`;\n  if (cursor) url += `&cursor=${cursor}`;\n  \n  const listResp = await this.helpers.httpRequest({\n    method: 'GET',\n    url,\n    headers: { 'X-N8N-API-KEY': $env.N8N_API_KEY }\n  });\n  \n  const executions = listResp.data || [];\n  cursor = listResp.nextCursor;\n  hasMore = !!cursor && executions.length === BATCH_SIZE;\n  \n  const oldExecutions = executions.filter(ex => {\n    const finishedAt = new Date(ex.stoppedAt || ex.startedAt);\n    return finishedAt < cutoffDate;\n  });\n  \n  totalKept += executions.length - oldExecutions.length;\n  \n  for (const ex of oldExecutions) {\n    try {\n      await this.helpers.httpRequest({\n        method: 'DELETE',\n        url: `${BASE_URL}/api/v1/executions/${ex.id}`,\n        headers: { 'X-N8N-API-KEY': $env.N8N_API_KEY }\n      });\n      totalDeleted++;\n    } catch (err) {\n      totalFailed++;\n    }\n  }\n  \n  if (totalDeleted + totalKept + totalFailed > 4000) break;\n}\n\nreturn [{\n  json: {\n    totalDeleted,\n    totalFailed,\n    totalKept,\n    retentionDays: RETENTION_DAYS,\n    cutoffDate: cutoffISO,\n    runAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "cleanup-executions",
      "name": "Delete Old Executions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-deletions",
              "leftValue": "={{ $json.totalDeleted }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-if-any",
      "name": "Any Deleted?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "sendTo": "={{ $env.GOOGLE_ACCOUNT || 'fabian@fdnxt.com' }}",
        "subject": "TAS N8N: Cleaned up {{ $json.totalDeleted }} old executions",
        "message": "=<h2>Execution Cleanup Report</h2>\n<p><strong>Run at:</strong> {{ $json.runAt }}</p>\n<p><strong>Retention policy:</strong> {{ $json.retentionDays }} days</p>\n<p><strong>Cutoff date:</strong> {{ $json.cutoffDate }}</p>\n<hr>\n<p><strong>Deleted:</strong> {{ $json.totalDeleted }}</p>\n<p><strong>Kept:</strong> {{ $json.totalKept }}</p>\n<p><strong>Failed to delete:</strong> {{ $json.totalFailed }}</p>",
        "options": {}
      },
      "id": "send-report",
      "name": "Email Cleanup Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [660, 0]
    }
  ],
  "connections": {
    "Weekly Sunday 3AM": {
      "main": [
        [{ "node": "Delete Old Executions", "type": "main", "index": 0 }]
      ]
    },
    "Delete Old Executions": {
      "main": [
        [{ "node": "Any Deleted?", "type": "main", "index": 0 }]
      ]
    },
    "Any Deleted?": {
      "main": [
        [{ "node": "Email Cleanup Report", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "TAS" },
    { "name": "maintenance" },
    { "name": "drive-cleanup" }
  ]
}
